.categories-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 24px;

}

.categories-cards a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 312px;
    height: 220px;
    text-decoration: none;
    border-radius: 12px;
    color: var(--text-primary-color);
    font-weight: var(--titles-weight);
    font-size: 28px;
    text-align: center;
    background-color: var(--background-secondary-color);
    box-sizing: border-box;
    padding: 24px;
}

.picto-categories{
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 768px){
    .categories-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }
}

@media screen and (min-width: 1024px){
    .categories-cards a{
        width: 380px;
        height: 280px;
    }  
}

@media screen and (min-width: 1440px){
    .categories-cards a{
        width: 280px;
        height: 280px;
    }  
}