/*
Background
Botoes
Cores de textos
*/

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-wheight: 500;
}
/* CSS Reset */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
form,
small {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  font-weight: var(--titles-weight);
}

body{
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary-color);
}

.section-title h2{
  font-size: 28px;
  font-weight: var(--titles-weight);
  margin: 0;
  text-align: center;
  padding: 16px 0 0 0;
}

.section-title hr{
  width: 180px;
  height: 4px ;
  background-color: var(--primary-color);
  border: none;
  margin: 16px auto 32px auto;
}

.button{
  width: 280px;
  height: 64px;
  color: var(--text-secondary-color);
  background-color: var(--secondary-color);
  border-radius: 16px;
  text-decoration: none;
  display: inline-block;
  line-height: 64px;
}

@media screen and (max-width: 768px) {
  .section-title h2{
    font-size: 32px;
  }
}

@media screen and (max-width: 71024px) {
  .button:hover{
    background-color: var(--primary-color);
  }
  }