/*
Background
Botoes
Cores de textos
*/

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}
:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --titles-weight: 700;
  --text-weight: 400;
  --menu-text-wheight: 500;
}
/* CSS Reset */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
form,
small {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  font-weight: var(--titles-weight);
}

body{
  font-family: "Montserrat", sans-serif;
}