 .hero-img{
    height: 400px;
    width: 100%;
    background: url(../img/Bannerhomepage-reduzida.jpg) no-repeat;
    background-size: cover;
 }

 @media  screen and (min-width: 768px){
    .hero-img{
    height: 620px;

    background: url(../img/Bannerhomepage-Tablet.jpg) no-repeat;
    background-size: cover;
    }
 }

 @media  screen and (min-width: 1024px){
    .hero-img{
    height: 620px;
    background: url(../img/Bannerhomepage-DesktopReduzida.jpg) no-repeat;
    background-size: cover;
    }
 }