/*
Background
Botoes
Cores de textos
*/

:root{
    --background-primary-color: #ffffff;
    --background-secondary-color: #f5f5f5;
    --background-tertiary-color: #0000;

    --button-primary-color: #8f0101;
    --button-secondary-color: #b81515;

    --text-primary-color: #222222;
    --text-secondary-color: #ffffff; 
}
/* CSS Reset */
body, img, h1, p, fieldset, legend, label, input, select, textarea, button, form, small {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: var(--text-primary-color);
}